<!-- Modal -->
<div class="modal fade  bd-example-modal-lg" id="edition" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Registro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="paterno">A. Paterno</label>
                            <input type="text" class="form-control" id="paterno">{{paterno}}
                        </div>
                        <div class="form-group col-md-6">
                            <label for="materno">A. Materno</label>
                            <input type="text" class="form-control" id="materno" placeholder="">{{materno}}
                        </div>
                        <div class="form-group col-md-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="">{{name}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="dir">Dirección</label>
                        <input type="text" class="form-control" id="dir" placeholder="">{{address}}
                    </div>
                    <div class="form-group">
                        <label for="mail">Email</label>
                        <input type="email" class="form-control" id="mail" placeholder="">{{mail}}
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="labels">Telefono (s)</label><br>
                            <ul *ngFor="let i of phones">
                                <li>{{i}}</li>
                            </ul>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="exampleFormControlSelect2">Departamentos</label>
                            <ul *ngFor="let i of deptos">
                                <li>{{i}}</li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div class="col-4">
                        <label>Departamento(s) :
                          <span class="input-group-addon">
                            <i class="far fa-question-circle" triggers="mouseenter:mouseleave"></i>
                          </span>
                        </label>
                        <div class="form-group">
                          <div class="col-6 barras">                 
                            <div formArrayName="selectedAreaMod">
                              <div *ngFor="let areaMod of selectedAreaMod.controls; let j=index">
                                
                                  <input type="checkbox" (click)="departamentoMod(j)"/>
                                  {{deptos[j].description}}
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clearModal()">Cancelar</button>
                <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="updateUser(userEdit)">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="code == 200" class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{response.detailMessage}}</h4>
    <p>Usuario: {{response.data.name}} {{response.data.paterno}} {{response.data.materno}}</p>
</div>