<table class="table table-responsive-sm table-sm">
    <thead class="thead">
        <tr>
            <th scope="col" class="text-center">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Paterno</th>
            <th scope="col">Materno</th>
            <th scope="col">Address</th>
            <th scope="col">Mail</th>
            <th scope="col">Acciones</th>
        </tr>

        <tr *ngFor="let i of userlist">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.paterno}}</td>
            <td>{{i.materno}}</td>
            <td>{{i.address}}</td>
            <td>{{i.mail}}</td>
            <td class="text-center">
                <div class="row">
                    <div class="col-sm-2">
                        <button class="btn btn-small btn-info margin-r" triggers="mouseenter:mouseleave"
                            data-toggle="modal" data-target="#editForm" (click)="updateUser(i)">
                            <i class="fas fa-pen"></i>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-small btn-warning margin-r" data-target="#viewForm"
                            triggers="mouseenter:mouseleave" data-toggle="modal" (click)="getUserById(i)">
                            <i class="fas fa-question"></i>
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <button class="btn btn-small btn-danger margin-r" data-target="#deleteForm"
                            triggers="mouseenter:mouseleave" data-toggle="modal" (click)="setLawDetail(item)">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
            </td>
        </tr>
    </thead>
</table>
<button class="btn btn-small btn-success margin-r" ngbPopover="Nuevo" data-target="#viewForm"
    triggers="mouseenter:mouseleave" data-toggle="modal" (click)="setLawDetail(item)">
    Nuevo
</button>
<app-slickgrid [userlist]="userlist" [deptos]="deptos"></app-slickgrid>